
.flash_notice {
  color: green;
}

.flash_alert {
  color: red;
}

.flash_update {
  color: orange;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}

#landing a {
  text-decoration: none;
  color: #DADFE1;
}

#landing a:hover {
  text-decoration: none;
  color: #DADFE1;
}

#landing {
  margin-top: -20px;
  height: 400px;
  background:url('tool-box.jpg');
  background-size: cover;
}

.introduction {
  position:relative;
  text-align: center;
  top:20%;
  line-height: 90px;
 }

 .name {
  font-family:sans-serif;
  font-size: 400%;
  font-weight: bold;
  border-radius: 25px;
  text-decoration: none;
 }

 .navbar-brand {
   font-weight: bold;
 }
