
.flash_notice {
  color: green;
}

.flash_alert {
  color: red;
}

.flash_update {
  color: orange;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}

a {
  text-decoration: none;
}

#landing {
  margin-top: -20px;
  height: 400px;
  background:url('tool-box.jpg');
  background-size: cover;
}

.introduction {
  color: white;
  width:400px;
  height:200px;
  position:absolute;
  left:50%;
  top:40%;
  margin:-100px 0 0 -175px;
  text-align: center;
 }

 .name {
  font-family:sans-serif;
  font-size: 400%;
  font-weight: bold;
  border-radius: 25px;
  text-decoration: none;
 }
