<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>Tool Count</th>
          <th>Newest Tool</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% if @users %>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to "#{user.username}", user_path(user) %></td>
            <td><%= user.tools.count %></td>
            <td><%= user.tools.most_recent %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
